In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB

In [2]:
df = pd.read_csv("iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
df = df.sample(frac=1,random_state=1).reset_index(drop=True)

df.shape

(150, 5)

In [4]:
# set features and target
X, y = df.iloc[:, :-1], df.iloc[:, -1]

print(X.shape)
print(y.shape)
print(y[:10])
print(X[:10])

(150, 4)
(150,)
0        Setosa
1    Versicolor
2    Versicolor
3        Setosa
4     Virginica
5    Versicolor
6     Virginica
7        Setosa
8        Setosa
9     Virginica
Name: variety, dtype: object
   sepal.length  sepal.width  petal.length  petal.width
0           5.8          4.0           1.2          0.2
1           5.1          2.5           3.0          1.1
2           6.6          3.0           4.4          1.4
3           5.4          3.9           1.3          0.4
4           7.9          3.8           6.4          2.0
5           6.3          3.3           4.7          1.6
6           6.9          3.1           5.1          2.3
7           5.1          3.8           1.9          0.4
8           4.7          3.2           1.6          0.2
9           6.9          3.2           5.7          2.3

In [5]:
x_train,y_train =  X[:100],y[:100]
x_test,y_test   = X[100:],y[100:]

print("X train : ",x_train.shape)
print("x test  : ",x_test.shape)

X train :  (100, 4)
x test  :  (50, 4)

In [6]:
gnb = GaussianNB()
gnb.fit(x_train,y_train)

GaussianNB()

In [8]:
y_pred = gnb.predict(x_test)
y_pred

array(['Setosa', 'Versicolor', 'Setosa', 'Versicolor', 'Versicolor',
       'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Virginica',
       'Virginica', 'Virginica', 'Setosa', 'Setosa', 'Virginica',
       'Setosa', 'Virginica', 'Setosa', 'Virginica', 'Versicolor',
       'Setosa', 'Virginica', 'Setosa', 'Versicolor', 'Setosa',
       'Versicolor', 'Versicolor', 'Setosa', 'Setosa', 'Versicolor',
       'Setosa', 'Versicolor', 'Versicolor', 'Setosa', 'Versicolor',
       'Versicolor', 'Versicolor', 'Versicolor', 'Virginica', 'Setosa',
       'Setosa', 'Versicolor', 'Versicolor', 'Virginica', 'Versicolor',
       'Versicolor', 'Virginica', 'Versicolor', 'Virginica', 'Setosa'],
      dtype='<U10')

In [11]:
accuracy = np.sum(y_test == y_pred) / len(y_test)
print("Model Accuracy: ",accuracy)

Model Accuracy:  0.98